@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@font-face {
    font-family: "SourceCodePro";
    src: url("/SoftwareProject3/Project1/Fonts/source-code-pro/SourceCodePro-Regular.otf")
}
@font-face {
    font-family: "CascadiaCode";
    src: url("/SoftwareProject3/Project1/Fonts/cascadia-code/Cascadia.ttf")
}
@font-face {
    font-family: "JetbriansMono";
    src: url("/SoftwareProject3/Project1/Fonts/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Regular.woff2")
}
@font-face {
    font-family: "NotoMono";
    src: url("/SoftwareProject3/Project1/Fonts/noto-mono/NotoMono-Regular.ttf")
}

* {
    font-family: CascadiaCode,Poppins, sans-serif;
    font-size: large;
    background-image: url("/SoftwareProject3/Project1/Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0px;
    text-decoration: none;
}


.container {

    /*border: 5px solid rgb(0, 0, 0);*/
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.profile_picture {
    width: 200px;
    height: 200px;
    border: 2px solid hsla(0, 0%, 18%, 0.216);
    border-radius: 5%;
    margin-bottom: 10px;
}


.profile {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textbox {
    
    font-family: CascadiaCode,Poppins, sans-serif;
    padding: 20px;
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.con_button {
    border: 2px solid hsla(0, 0%, 18%, 0.216);
    background-color: #ffffff;
    border-radius: 5%;
    padding: 10px;
    margin: auto;
    margin: 10px;
    height: 160px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.profile_name{
    font-family: CascadiaCode,Poppins, sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #ee6c20;
}
a:hover{

    text-decoration: underline;
    color: #296af7;
    cursor: pointer;
    font-family: CascadiaCode;
}