@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@font-face {
    font-family: "SourceCodePro";
    src: url("/SoftwareProject3/Project1/Fonts/source-code-pro/SourceCodePro-Semibold.otf")
}
@font-face {
    font-family: "CascadiaCode";
    src: url("/SoftwareProject3/Project1/Fonts/cascadia-code/Cascadia.ttf")
}
@font-face {
    font-family: "JetbriansMono";
    src: url("/SoftwareProject3/Project1/Fonts/JetBrainsMono-2.242/fonts/webfonts/JetBrainsMono-Regular.woff2")
}
@font-face {
    font-family: "NotoMono";
    src: url("/SoftwareProject3/Project1/Fonts/noto-mono/NotoMono-Regular.ttf")
}
*{
    padding: 0px;
    font-family: JetbriansMono,Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    background-image: url("/SoftwareProject3/Project1/Images/bg3-crop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    margin-top: 10px;
    font-size: medium;
    padding: 10px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p{
    margin: 10px;
    border: 2px solid hsla(0, 0%, 18%, 0.216);
    padding: 10px;
    font-size: 22px;
    background-color: #395B64;
}
.listbox{
    margin: 10px;
    padding: 8px;
    width: 100%/2;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: aqua;
    border: 2px solid hsla(0, 0%, 18%, 0.216);
}
.skills{
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.education_table{
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;


}

th, td {
    border: 2px solid hsla(0, 0%, 18%, 0.216);
    width: 400PX;
}
table{
    height: 150px;
    text-align: center;
}
.experience{
    margin-left: 16px;
    padding: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.experience_title{
    font: bold 20px/30px Georgia, serif;
    color: #000000;
    margin-left: -12px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #ee6c20;
}
a:hover{

    text-decoration: underline;
    color: #296af7;
    cursor: pointer;
    font-family: CascadiaCode;
}